<a href="https://colab.research.google.com/github/vamsi11126/100-days-of-machine-learning/blob/main/day28-column-transformer/day28.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import numpy as np
import pandas as pd

In [10]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [31]:
df = pd.read_csv('sample_data/covid_toy.csv')

In [32]:
df.sample(5)

    age  gender  fever   cough       city has_covid
19   42  Female    NaN  Strong  Bangalore       Yes
93   27    Male  100.0    Mild    Kolkata       Yes
21   73    Male   98.0    Mild  Bangalore       Yes
1    27    Male  100.0    Mild      Delhi       Yes
47   18  Female  104.0    Mild  Bangalore        No

In [15]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

We can understand that the fever value has missing so we need to apply simple imputer

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'],
                                                test_size=0.2)

In [ ]:
X_train

    age  gender  fever   cough       city
55   81  Female  101.0    Mild     Mumbai
76   80    Male  100.0    Mild  Bangalore
22   71  Female   98.0  Strong    Kolkata
93   27    Male  100.0    Mild    Kolkata
33   26  Female   98.0    Mild    Kolkata
..  ...     ...    ...     ...        ...
2    42    Male  101.0    Mild      Delhi
51   11  Female  100.0  Strong    Kolkata
5    84  Female    NaN    Mild  Bangalore
40   49  Female  102.0    Mild      Delhi
19   42  Female    NaN  Strong  Bangalore

[80 rows x 5 columns]

## 1. Aam Zindagi

In [ ]:
# adding simple imputer to fever col
si = SimpleImputer()
X_train_fever = si.fit_transform(X_train[['fever']])

# also the test data
X_test_fever = si.fit_transform(X_test[['fever']])

X_train_fever.shape

(80, 1)

In [ ]:
# Ordinalencoding -> cough
oe = OrdinalEncoder(categories=[['Mild','Strong']])
X_train_cough = oe.fit_transform(X_train[['cough']])

# also the test data
X_test_cough = oe.fit_transform(X_test[['cough']])

X_train_cough.shape

(80, 1)

In [ ]:
# OneHotEncoding -> gender,city
ohe = OneHotEncoder(drop='first',sparse=False)
X_train_gender_city = ohe.fit_transform(X_train[['gender','city']])

# also the test data
X_test_gender_city = ohe.fit_transform(X_test[['gender','city']])

X_train_gender_city.shape

(80, 4)

In [ ]:
# Extracting Age
X_train_age = X_train.drop(columns=['gender','fever','cough','city']).values

# also the test data
X_test_age = X_test.drop(columns=['gender','fever','cough','city']).values

X_train_age.shape

(80, 1)

In [ ]:
X_train_transformed = np.concatenate((X_train_age,X_train_fever,X_train_gender_city,X_train_cough),axis=1)
# also the test data
X_test_transformed = np.concatenate((X_test_age,X_test_fever,X_test_gender_city,X_test_cough),axis=1)

X_train_transformed.shape

(80, 7)

## Mentos Zindagi

In [18]:
from sklearn.compose import ColumnTransformer

In [25]:
transformer=ColumnTransformer([
    ("tnp1",SimpleImputer(),['fever']),
    ("tnp2",OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ("tnp3",OneHotEncoder(drop='first',sparse_output=False),['gender','city'])
],remainder='passthrough')

In [26]:
x_train_new=transformer.fit_transform(X_train)
x_test_new=transformer.fit_transform(X_test)

In [27]:
x_train_new.shape

(80, 7)

In [28]:
x_test_new.shape

(20, 7)

In [29]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive